USE [master]
GO
/****** Object:  Database [QLSTORE]    Script Date: 12/13/2021 6:09:18 PM ******/
CREATE DATABASE [QLSTORE]
 CONTAINMENT = NONE
 /*ON  PRIMARY 
( NAME = N'QLSTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSTORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSTORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT*/
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSTORE]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Age] [int] NULL,
	[Gender] [int] NULL,
	[Address] [nvarchar](max) NULL,
	[Email] [varchar](max) NULL,
	[Phone] [int] NULL,
	[Authority] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookID] [varchar](50) NOT NULL,
	[BookName] [nvarchar](max) NULL,
	[BookTypeID] [varchar](50) NULL,
	[Author] [nvarchar](max) NULL,
	[Nxb] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Image] [varchar](max) NULL,
	[Price] [int] NULL,
	[Quantity] [int] NULL,
	[OrderedQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookType]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookType](
	[BookTypeID] [varchar](50) NOT NULL,
	[BookTypeName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InfoOrder]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoOrder](
	[InfoOrderID] [varchar](50) NOT NULL,
	[OrderID] [varchar](50) NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[TotalPrice] [int] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InfoOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[ItemID] [varchar](50) NOT NULL,
	[OrderID] [varchar](50) NULL,
	[BookID] [varchar](50) NULL,
	[Quantity] [int] NULL,
	[TotalPrice] [int] NULL,
	[Discount] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NULL,
	[OrderPrice] [int] NULL,
	[OrderStatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([UserName], [Password], [FullName], [Age], [Gender], [Address], [Email], [Phone], [Authority]) VALUES (N'admin', N'$2a$11$0WhUwF7X5aznGV2uy1ue5uJIT12h6Sggs7gwNWPngIJVOoSTbn.lW', N'Admin', 99, 1, N'Book Online Store', N'Admin@gmail.com', 987654321, 1)
INSERT [dbo].[Account] ([UserName], [Password], [FullName], [Age], [Gender], [Address], [Email], [Phone], [Authority]) VALUES (N'customer1', N'$2a$11$ZK/ACCfZYY8Idp/fPDfBzeXGWCYIkQQDXDigp3yV0Zi9ffEhKTWhu', N'Khách hàng 1', 21, 0, N'666 trần hưng đạo phường 1 quận 5 tp.HCM', N'Customer1@gmail.com', 987654321, 0)
INSERT [dbo].[Account] ([UserName], [Password], [FullName], [Age], [Gender], [Address], [Email], [Phone], [Authority]) VALUES (N'minhhao', N'$2a$11$GDfAaKfiHC9d8RnyN9OacemLjffYwH8Q9tBcRf8VJuMX.44tKmunC', N'Tạ Minh Hào', 21, 1, N'555 trần hưng đạo phường 1 quận 5 tp.HCM', N'minhhao@gmail.com', 987654321, 0)
GO
INSERT [dbo].[Book] ([BookID], [BookName], [BookTypeID], [Author], [Nxb], [Description], [Image], [Price], [Quantity], [OrderedQuantity]) VALUES (N'10044', N'Tô Bình Yên Vẽ Hạnh Phúc', N'T002', N'Kulzsc', N'NXB Phụ Nữ Việt Nam', N'Sau thành công của cuốn sách đầu tay “Phải lòng với cô đơn” chàng họa sĩ nổi tiếng và tài năng Kulzsc đã trở lại với một cuốn sách vô cùng đặc biệt mang tên: "Tô bình yên - vẽ hạnh phúc” –  sắc nét phong cách cá nhân với một chút “thơ thẩn, rất hiền”.', N'ToBinhYenVeHanhPhuc.jpg', 64000, 123, 20)
GO
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (N'T001', N'Tâm lý')
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (N'T002', N'Văn Học')
INSERT [dbo].[BookType] ([BookTypeID], [BookTypeName]) VALUES (N'T003', N'Kinh Tế')
GO
INSERT [dbo].[InfoOrder] ([InfoOrderID], [OrderID], [Name], [Email], [Phone], [Address], [TotalPrice], [Status]) VALUES (N'108542', N'187187', N'Tạ Minh Hào', N'minhhao@gmail.com', N'0987654321', N'666 trần hưng đạo phường 1 quận 5 tp.HCM', 215000, 0)
INSERT [dbo].[InfoOrder] ([InfoOrderID], [OrderID], [Name], [Email], [Phone], [Address], [TotalPrice], [Status]) VALUES (N'817907', N'547334', N'Super Admin', N'SuperAdmin@gmail.com', NULL, N'Book Online Store', 20000, 0)
INSERT [dbo].[InfoOrder] ([InfoOrderID], [OrderID], [Name], [Email], [Phone], [Address], [TotalPrice], [Status]) VALUES (N'881842', N'841476', N'Khách hàng 1', N'Customer1@gmail.com', N'0987654321', N'666 trần hưng đạo phường 1 quận 5 tp.HCM', 255000, 1)
GO
INSERT [dbo].[OrderItem] ([ItemID], [OrderID], [BookID], [Quantity], [TotalPrice], [Discount]) VALUES (N'120669', N'841476', N'98984', 3, 213000, 0)
INSERT [dbo].[OrderItem] ([ItemID], [OrderID], [BookID], [Quantity], [TotalPrice], [Discount]) VALUES (N'190927', N'187187', N'39898', 1, 67000, 0)
INSERT [dbo].[OrderItem] ([ItemID], [OrderID], [BookID], [Quantity], [TotalPrice], [Discount]) VALUES (N'229565', N'281429', N'23569', 2, 132000, 0)
GO
INSERT [dbo].[Orders] ([OrderID], [UserName], [OrderPrice], [OrderStatus]) VALUES (N'187187', N'minhhao', 195000, 2)
INSERT [dbo].[Orders] ([OrderID], [UserName], [OrderPrice], [OrderStatus]) VALUES (N'281429', N'customer1', 132000, 2)
INSERT [dbo].[Orders] ([OrderID], [UserName], [OrderPrice], [OrderStatus]) VALUES (N'450907', N'superadmin', 201000, 1)
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_BookType] FOREIGN KEY([BookTypeID])
REFERENCES [dbo].[BookType] ([BookTypeID])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_BookType]
GO
ALTER TABLE [dbo].[InfoOrder]  WITH CHECK ADD  CONSTRAINT [FK_OrdersInInfoOrder] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[InfoOrder] CHECK CONSTRAINT [FK_OrdersInInfoOrder]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[Book] ([BookID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_Book]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrder] FOREIGN KEY([UserName])
REFERENCES [dbo].[Account] ([UserName])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_CustomerOrder]
GO
/****** Object:  StoredProcedure [dbo].[Account_CheckLogin]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[Account_CheckLogin]
	@UserName varchar(max),
	@Password varchar(max)
AS
BEGIN
    select *
    from Account
	where Account.UserName = @UserName and Account.Password = @Password
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Create]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Account_Create]
	@UserName varchar(50),
	@Password varchar(max),
	@FullName nvarchar(max),
	@Age int,
	@Gender int,
	@Address nvarchar(max),
	@Email varchar(max),
	@Phone int,
	@Authority int
AS
BEGIN
    insert into Account(UserName,Password,FullName,Age,Gender,Address,Email,Phone,Authority) 
	values(@UserName, @Password, @FullName, @Age, @Gender, @Address, @Email, @Phone, @Authority)

END
GO
/****** Object:  StoredProcedure [dbo].[Account_Delete]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Account_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM Account WHERE UserName = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetAll]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE PROCEDURE Book_GetAll

AS
BEGIN
	select *
	from Book
END*/
/*
CREATE PROCEDURE Book_GetTypeList
	@ID varchar(50)

AS
BEGIN
	select *
	from Book	
	where BookTypeID = @ID ;
END*/
/*
CREATE PROCEDURE Book_GetAllType

AS
BEGIN
	select *
	from BookType
END*/
/*
CREATE PROCEDURE Book_BookTypeWithID
	@ID varchar(50)
AS
BEGIN
	select *
	from BookType
	where BookTypeID = @ID ;
END*/
/*
CREATE PROCEDURE Book_BookWithID
	@ID varchar(50)
AS
BEGIN
	select *
	from Book
	where BookID = @ID ;
END*/
CREATE PROCEDURE [dbo].[Account_GetAll]

AS
BEGIN
	select *
	from Account
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetWithEmail]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Account_GetWithEmail]
	@Email varchar(max)
AS
BEGIN
	select *
	from Account
	where Email = @Email ;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_GetWithUser]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Account_GetWithUser]
	@UserName varchar(50)
AS
BEGIN
	select *
	from Account
	where UserName = @UserName ;
END
GO
/****** Object:  StoredProcedure [dbo].[Account_Update]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Account_Update]
	@UserName varchar(50),
	@FullName nvarchar(max),
	@Age int,
	@Gender int,
	@Address nvarchar(max),
	@Email varchar(max),
	@Phone int,
	@Authority int
AS
BEGIN
    UPDATE Account
    SET		FullName = @FullName,
            Age = @Age,
            Gender = @Gender,
            Address = @Address,
			Email =@Email,
			Phone = @Phone,
			Authority = @Authority
    WHERE  UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Book_BookTypeWithID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE PROCEDURE Book_GetAll

AS
BEGIN
	select *
	from Book
END*/
/*
CREATE PROCEDURE Book_GetTypeList
	@ID varchar(50)

AS
BEGIN
	select *
	from Book	
	where BookTypeID = @ID ;
END*/
/*
CREATE PROCEDURE Book_GetAllType

AS
BEGIN
	select *
	from BookType
END*/
CREATE PROCEDURE [dbo].[Book_BookTypeWithID]
	@ID varchar(50)
AS
BEGIN
	select *
	from BookType
	where BookTypeID = @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[Book_BookWithID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE PROCEDURE Book_GetAll

AS
BEGIN
	select *
	from Book
END*/
/*
CREATE PROCEDURE Book_GetTypeList
	@ID varchar(50)

AS
BEGIN
	select *
	from Book	
	where BookTypeID = @ID ;
END*/
/*
CREATE PROCEDURE Book_GetAllType

AS
BEGIN
	select *
	from BookType
END*/
/*
CREATE PROCEDURE Book_BookTypeWithID
	@ID varchar(50)
AS
BEGIN
	select *
	from BookType
	where BookTypeID = @ID ;
END*/
CREATE PROCEDURE [dbo].[Book_BookWithID]
	@ID varchar(50)
AS
BEGIN
	select *
	from Book
	where BookID = @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[Book_BookWithSelling]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Book_BookWithSelling]

AS
BEGIN
	select *
	from Book
	ORDER BY OrderedQuantity DESC
END
GO
/****** Object:  StoredProcedure [dbo].[Book_CreateBook]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_CreateBook]
	@BookID varchar(50),
	@BookName nvarchar(max),
	@BookTypeID varchar(50),
	@Author nvarchar(max),
	@Nxb nvarchar(max),
	@Description nvarchar(max),
	@Image varchar(50),
	@Price int,
	@Quantity int,
	@OrderedQuantity int
AS
BEGIN
    insert into Book(BookID, BookName, BookTypeID, Author, Nxb, Description, Image, Price, Quantity, OrderedQuantity) 
	values(@BookID, @BookName, @BookTypeID, @Author, @Nxb, @Description, @Image, @Price, @Quantity, @OrderedQuantity)

END
GO
/****** Object:  StoredProcedure [dbo].[Book_Delete]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM Book WHERE BookID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Book_GetAll]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_GetAll]

AS
BEGIN
	select *
	from Book
END
GO
/****** Object:  StoredProcedure [dbo].[Book_GetAllType]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE PROCEDURE Book_GetAll

AS
BEGIN
	select *
	from Book
END*/
/*
CREATE PROCEDURE Book_GetTypeList
	@ID varchar(50)

AS
BEGIN
	select *
	from Book	
	where BookTypeID = @ID ;
END*/
CREATE PROCEDURE [dbo].[Book_GetAllType]

AS
BEGIN
	select *
	from BookType
END
GO
/****** Object:  StoredProcedure [dbo].[Book_GetTypeList]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
CREATE PROCEDURE Book_GetAll

AS
BEGIN
	select *
	from Book
END*/

CREATE PROCEDURE [dbo].[Book_GetTypeList]
	@ID varchar(50)

AS
BEGIN
	select *
	from Book	
	where BookTypeID = @ID ;
END
GO
/****** Object:  StoredProcedure [dbo].[Book_Update]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Book_Update]
	@BookID varchar(50),
	@BookName nvarchar(max),
	@BookTypeID varchar(50),
	@Author nvarchar(max),
	@Nxb nvarchar(max),
	@Description nvarchar(max),
	@Image varchar(50),
	@Price int,
	@Quantity int,
	@OrderedQuantity int
AS
BEGIN
    UPDATE Book
    SET		BookName = @BookName,
			BookTypeID = @BookTypeID,
            Author = @Author,
            Nxb = @Nxb,
            Description = @Description,
			Image =@Image,
			Price = @Price,
			Quantity = @Quantity,
			OrderedQuantity = @OrderedQuantity

    WHERE  BookID = @BookID
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_Create]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_Create]
	@InfoOrderID varchar(50),
	@OrderID varchar(50),
	@Name nvarchar(50),
	@Email varchar(50),
	@Phone varchar(20),
	@Address nvarchar(50),
	@TotalPrice int,
	@Status int
AS
BEGIN
    insert into InfoOrder(InfoOrderID, OrderID, Name, Email, Phone, Address,TotalPrice,Status) 
	values(@InfoOrderID, @OrderID, @Name, @Email, @Phone, @Address, @TotalPrice, @Status)
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_Delete]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM InfoOrder WHERE InfoOrderID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetAll]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_GetAll]
AS
BEGIN
	SELECT *
	FROM InfoOrder
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetInfoOrdersWithID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_GetInfoOrdersWithID]
	@InfoOrderID varchar(50)
AS
BEGIN
	select *
	from InfoOrder
	where InfoOrderID = @InfoOrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetInfoOrderWithEmail]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InfoOrder_GetInfoOrderWithEmail]
	@Email varchar(50)
AS
BEGIN
	SELECT *
	FROM InfoOrder
	WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_GetInfoOrderWithOrderID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[InfoOrder_GetInfoOrderWithOrderID]
	@OrderID varchar(50)

AS
BEGIN
	SELECT *
	FROM InfoOrder
	WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[InfoOrder_Update]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InfoOrder_Update]
	@InfoOrderID varchar(50),
	@OrderID varchar(50),
	@Name nvarchar(50),
	@Email varchar(50),
	@Phone varchar(20),
	@Address nvarchar(50),
	@TotalPrice int,
	@Status int

AS
BEGIN
    UPDATE InfoOrder
    SET		OrderID = @OrderID,
            Name = @Name,
            Email = @Email,
			Phone = @Phone,
			Address = @Address,
			TotalPrice = @TotalPrice,
			Status = @Status

    WHERE  InfoOrderID = @InfoOrderID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_Create]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderItem_Create]
	@ItemID varchar(50),
	@OrderID varchar(50),
	@BookID varchar(50),
	@Quantity int,
	@TotalPrice int,
	@Discount int
AS
BEGIN
    insert into OrderItem(ItemID,OrderID,BookID,Quantity,TotalPrice,Discount) 
	values(@ItemID, @OrderID, @BookID, @Quantity, @TotalPrice, @Discount)
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_Delete]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderItem_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM OrderItem WHERE ItemID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_GetOrderItemWithID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderItem_GetOrderItemWithID]
	@ItemID varchar(50)

AS
BEGIN
	SELECT *
	FROM OrderItem
	WHERE ItemID = @ItemID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_GetOrderItemWithOrderID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderItem_GetOrderItemWithOrderID]
	@OrderID varchar(50)

AS
BEGIN
	SELECT *
	FROM OrderItem
	WHERE OrderID = @OrderID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_GetOrderItemWithOrderIDBookID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderItem_GetOrderItemWithOrderIDBookID]
	@OrderID varchar(50),
	@BookID varchar(50)

AS
BEGIN
	SELECT *
	FROM OrderItem
	WHERE OrderID = @OrderID and BookID = @BookID
END
GO
/****** Object:  StoredProcedure [dbo].[OrderItem_Update]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[OrderItem_Update]
	@ItemID varchar(50),
	@OrderID varchar(50),
	@BookID varchar(50),
	@Quantity int,
	@TotalPrice int,
	@Discount int

AS
BEGIN
    UPDATE OrderItem
    SET		OrderID = @OrderID,
            BookID = @BookID,
            Quantity = @Quantity,
            TotalPrice = @TotalPrice,
			Discount = @Discount

    WHERE  ItemID = @ItemID
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_Create]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_Create]
	@OrderID varchar(50),
	@UserName varchar(50),
	@OrderPrice int,
	@OrderStatus int
AS
BEGIN
    insert into Orders(OrderID, UserName, OrderPrice, OrderStatus) 
	values(@OrderID, @UserName, @OrderPrice, @OrderStatus)
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_Delete]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_Delete]
    @ID varchar(50)
AS
BEGIN
    DELETE FROM Orders WHERE OrderID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_GetOrdersUser]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_GetOrdersUser]
	@UserName varchar(50)
AS
BEGIN
	select *
	from Orders
	where UserName = @UserName ;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_GetOrdersUserOnStatus]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_GetOrdersUserOnStatus]
	@UserName varchar(50),
	@OrderStatus int
AS
BEGIN
	select *
	from Orders
	where UserName = @UserName and OrderStatus = @OrderStatus;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_GetOrdersWithID]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_GetOrdersWithID]
	@OrderID varchar(50)
AS
BEGIN
	select *
	from Orders
	where OrderID = @OrderID;
END
GO
/****** Object:  StoredProcedure [dbo].[Orders_Update]    Script Date: 12/13/2021 6:09:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Orders_Update]
	@OrderID varchar(50),
	@UserName varchar(50),
	@OrderPrice int,
	@OrderStatus int
AS
BEGIN
    UPDATE Orders
    SET		UserName = @UserName,
            OrderPrice = @OrderPrice,
			OrderStatus = @OrderStatus

    WHERE  OrderID = @OrderID
END
GO
USE [master]
GO
